---
import App from '../app/App';
import '@/styles/index.css';
import { ViewTransitions } from 'astro:transitions';
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>404 | Not Found</title>
		<ViewTransitions />
	</head>
	<body>
		<App client:load ogpData={{}} mode="notFound" />
	</body>
</html>
